.topbar {
    background-color: rgba(59, 114, 202);
    color: white;
    padding: 10px 0;
}
.topbar a {
    color: white;
    text-decoration: none;
}
.topbar a:hover {
    text-decoration: underline;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
